.text-blue {
    color: #002861;
}

.bg-blue {
    background-color: #002861;
}

.cart {
    position: fixed;
    height: 500px;
    width: 100%;
    max-width: 400px;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    z-index: 1;
}

.cart .scroll {
    height: 100%;
    overflow-y: auto;
}

.cart[open="false"]{
    right: -405px;
    transition: 300ms;
}

.cart[open="true"]{
    transform: translate(0);
    transition: 300ms;
}
